doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Edit User
    link(rel="stylesheet", href="/style.css")
  body
    include navigation.pug
    main
      h1 Edit User
      form(action=`/users/${user.id}/edit`, method="post")
        label(for="name") Name:
        input(type="text", name="name", id="name", value=`${user.name}`, required)
        label(for="email") Email:
        input(type="email", name="email", id="email", value=`${user.email}`, required)
        button(type="submit") Save changes
    include footer.pug
    script(src="/script.js")