doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Error
    link(rel="stylesheet", href="style.css")
  body
    header
      h1 Error
    main
      h2= message
      p Please contact support if this error persists.
    footer
      p &copy; 2021 Library Management System
    script(src="script.js")