doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Library System
    link(rel="stylesheet", href="./style.css")
  body
    header
      h1 Library System
      nav
        ul
          li
            a(href="#") Home
          li
            a(href="#") Books
          li
            a(href="#") Users
    main
      h2 Welcome to the Library System
      p Please navigate using the links in the navigation bar above to access the features of the Library System.